.mg_0 {
    margin: 0;
}

.pd-btm_20 {
    padding-bottom: 20px;
}

@media (min-width: 768px) {
    .mrg-btm_60 {
        margin-bottom: 60px;
    }
}

@media (min-width: 992px) {
    .pd-btm_20 {
        padding-bottom: 73px;
    }
}
