.publication {
    background-color: $ft-bg;
    padding: 20px 0 40px;

    &__main {
        margin-bottom: 25px;

        &-link {
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            color: $blue;
            padding-right: 14px;
            text-decoration: none;
            text-transform: uppercase;
            margin-bottom: 3px;

            &:hover {
                color: $red;

                & path {
                    stroke: $red;
                }
            }
        }

        &-title {
            font-weight: bold;
            font-size: 32px;
            line-height: 38px;
            color: $red;
        }
    }

    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;

        &-container {
            padding: 20px;
            width: 100%;

            &:nth-last-child(-n+4) {
                display: none;
            }
        }

        &-mix {
            background-color: $white;
            border-radius: 8px;
            width: 100%;
            padding-bottom: 20px;
            margin-bottom: 29px;

            & a {
                text-decoration: none;
            }
        }

        &-img {
            margin-bottom: 20px;
            width: 100%;
            height: auto;
        }

        &-title {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            color: $blue;
            margin-bottom: 10px;
            padding-left: 21px;
        }

        &-text {
            font-weight: bold;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $grey;
            padding-left: 21px;
        }

        &-about {
            font-size: 16px;
            line-height: 22px;
            color: $ultimate;
            display: none;
        }
    }

    &__btn {
        text-align: center;

        &-items {
            font-weight: bold;
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            color: $white;
            border: none;
            background-color: $blue;
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
            border-radius: 12px;
            padding: 13px 73px 16px;
            cursor: pointer;

            &:hover {
                background: $btn-hover;
                box-shadow: 0px 0px 30px rgba(36, 163, 255, 0.5);
            }

            &:active {
                background: $btn-active;
            }
        }
    }
}

@media (min-width: 768px) {
    .publication__blocks-container {
        width: 50%;

        &:nth-last-child(-n+4) {
            display: block;
            display: flex;
            align-items: stretch;
        }

        &:nth-last-child(-n+2) {
            display: none;
        }
    }
}

@media (min-width: 992px) {
    .publication {
        padding: 34px 0 49px;

        &__main {
            margin-bottom: 12px;

            &-link {
                font-size: 12px;
            }

            &-title {
                font-weight: bold;
                font-size: 38px;
                line-height: 50px;
                color: $red;
            }
        }

        &__blocks {
            margin-bottom: 10px;

            &-container {
                width: 33.333%;
                display: flex;
                align-items: stretch;

                &:nth-last-child(-n+2) {
                    display: flex;
                    align-items: stretch;
                }
            }

            &-mix {
                display: flex;
                flex-direction: column;
                margin-bottom: 0px;
                padding-bottom: 10px;

                & a {
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            &-img {
                margin-bottom: 14px;
                border-radius: 12px 12px 0 0;
            }

            &-title {
                font-size: 16px;
                margin-bottom: 7px;
            }

            &-text {
                font-size: 10px;
                margin-bottom: 17px;
            }

            &-about {
                display: block;
                border-top: 4px solid $border;
                width: calc(100% - 40px);
                padding-top: 15px;
                font-size: 15px;
                line-height: 20px;
                margin: 0 auto;
            }
        }
    }
}
