$hill:#1C4280;
$wann:#143646;
$targ:#F48B30;
$look:#9E4DC3;
$orange:#FD9339;
$adtell:#E2E2E4;
$click:#C71C36;
$eco: #DCF3F9;
$infra: #EAEAEA;
$city: #282240;
$art: #1D4568;
$ultimate: #000000;
$white: #FFFFFF;
$blue:#24A3FF;
$grey: #B3B3BA;
$red:#F0145A;
$line_01: #CACADB;
$line_02:#E7E7F2;
$border: #E6E6F0;
$gray-blue:#323264;
$ft-bg: #F5F5FA;
$gray-blue_02:#46466E;
$btn-hover: #0085FF;
$btn-active:#006CCF;
$orange_02:#EC6F5D;
$title:#686887;
$blockhover:#EDEDF7;
